#page-inner .giftbuttons{
    border-bottom: 1px solid #DFDFDF;
    margin-bottom: 40px;
    overflow: hidden;
}
#page-inner  .addgift{
    display: inline-block;
    padding: 5px 10px 10px 10px;
    border-radius: 5px;
    margin-bottom: -5px;
    background-color: #01D19C;
    color: #fff;
}
.giftListTable tbody tr{
    background-color: #FAFAFA;
}
.giftListTable thead{
    background-color: #4D4C51;
    color: #E3E2E7;
}
.giftListTable thead th{
    padding-left: 20px !important;
    border-color: transparent !important;
    border-bottom: 1px solid #4D4C51 !important;
}
.giftListTable thead th:nth-last-child(1){
    padding-left: 0;
    text-align: center;
}
.giftListTable tbody td{
    padding-left: 20px !important;
}
.giftListTable tbody td:nth-last-child(1){
    padding-left: 0;
    text-align: center;
}

.table-hover>tbody>tr:hover{
    background-color: #E0F4F2;
}

.giftListTable tbody a{
    display: inline-block;
}
.giftListTable .table{
    margin-bottom: 0 !important;
}
.operateButton{
    display: inline-block;
    padding: 3px 17px;
    border-radius: 15px;
    background-color: #F8FFFC;
}
.modifyButton{
    border: 1px solid #01D19C;
    text-decoration: none;
    color: #01D19C;
}
.modifyButtonA{
    margin-right: 10px;
}
.deleteButton{
    cursor: pointer;
    border: 1px solid #A8A8B0;
    color: #A8A8B0;
}
/*分页*/
.paginationWrap nav{
    padding: 15px 10px;
    background-color: #E5E7E6;
}
.paginationWrap nav:before{
    content: "";
    display: inline-block;
    clear: both;
}
.paginationWrap .total{
    float: right;
}
.paginationWrap .page{
    float: right;
}
.paginationWrap ul,
.paginationWrap li{
    list-style: none;
}
.paginationWrap .page li{
    float: left;
}
.paginationWrap .disabled{
    pointer-events:none;
    cursor: not-allowed;
}
.paginationWrap .page a{
    display: inline-block;
    padding: 0 8px;
    color: #C6C8C7;
}
.paginationWrap .active a{
    color: #01D19C;
}
@font-face {
    font-family: 'iconfont';
    src: url('font/iconfont.eot');
    src: url('font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('font/iconfont.woff') format('woff'),
    url('font/iconfont.ttf') format('truetype'),
    url('font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #C6C8C7;
}
