<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="" name="description" />
    <meta content="webthemez" name="author" />
    <title>官网后台</title>
    <!-- Bootstrap Styles-->
    <link href="../../../../static/admin/commonstatic/css/bootstrap.css" rel="stylesheet" />
    <!-- <link href="../../../../static/admin/commonstatic/css/bootstrap-datetimepicker.min.css" rel="stylesheet" /> -->
    <!-- FontAwesome Styles-->
    <link href="../../../../static/admin/commonstatic/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="../../../../static/admin/commonstatic/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <style>
        [v-load] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <!--top-->
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html"><strong>后台</strong></a>
                <div id="sideNav" href="">
                    <i class="fa fa-bars icon"></i>
                </div>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        admin <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <!--<li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>-->
                        <!--<li class="divider"></li>  //空行-->
                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--侧边导航栏-->
        <nav class="navbar-default navbar-side" role="navigation">
            <!-- <bar></bar> -->
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <!--fa-desktop fa-dashboard fa-qrcode fa-table fa-edit fa-sitemap fa-fw fa-file-->
                    <!-- <a href="index.html" class="active-menu"><i class="fa fa-dashboard"></i>首页</a> -->
                    <!-- <li> 
                        <router-link to="/s"><i class="fa fa-dashboard"></i>首页</router-link>
                    </li> -->

                    <!--二级菜单&游戏官网-->
                    <!--主li标签上箭头向下：class="active"  次ul标签上展开：class="in"  次a标签上选中：class="active-menu"-->
                    <!-- <li> 
                        <a href="#"><i class="fa fa-sitemap"></i> 游戏官网<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level" >
                            <li>
                                <router-link to="/gameswebsite/gamelist">游戏列表</router-link>
                            </li>
                            <li>
                                <a href="">新闻列表</a>
                            </li>
                        </ul>
                    </li> -->
                    <li v-for="(list,index) in navlist" @click="clicknav1(index)">
                        <!-- 有一级菜单 -->
                        <router-link :class="{'active-menu': indexp === index }" :to="list.a.link" v-if="!list.b" data-index="index"><i class="fa" :class="list.a.fonticon"></i>{{list.a.name}}</router-link>
                        <!-- 有二级菜单 -->
                        <a href="#" v-if="list.b"><i class="fa" :class="list.a.fonticon"></i> {{list.a.name}}<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li v-for="(list2,index2) in list.b" @click="clickgw(index2)" :class="{'active-menu': gwindex === index2 }">
                                <!--  -->
                                <router-link :to="list2.link">{{list2.name}}</router-link>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </nav>
        <!--主体内容-->
        <div id="page-wrapper">
            <router-view></router-view>
        </div>
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="../../../../static/admin/commonstatic/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="../../../../static/admin/commonstatic/js/bootstrap.min.js"></script>
    <!-- <script src="../../../../static/admin/commonstatic/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../../../../static/admin/commonstatic/js/bootstrap-datetimepicker.zh-CN.js"></script> -->
    <!-- Metis Menu Js -->
    <script src="../../../../static/admin/commonstatic/js/jquery.metisMenu.js"></script>
    <!-- Custom Js -->
    <script src="../../../../static/admin/commonstatic/js/custom-scripts.js"></script>

    <!-- DATA TABLE SCRIPTS -->
    <script src="../../../../static/admin/commonstatic/js/dataTables/jquery.dataTables.js"></script>
    <script src="../../../../static/admin/commonstatic/js/dataTables/dataTables.bootstrap.js"></script>
    <!--富文本编辑-->
    <!-- <script src="../../../../static/admin/commonstatic/js/wangEditor.min.js"></script> -->
</body>

</html>